footer{
    padding-top: 5px;
    background-color: #3498db;
    color: white;
    bottom: auto;
    min-height: 200px;
}
footer>h2{
    color:#fff;
}
footer p#tel{
    float: left;
    margin-left:25%;
}
footer>p#mail{
    float: right;
    margin-right:25%;
}
footer>p>a:link{
    text-decoration:none;
}